body {
    background-image: url(https://img.freepik.com/free-vector/abstract-low-poly-design-background_1048-8196.jpg)
}

#root {
    width: 100%;
    height: 100%;
}

.contenido {
    margin: auto;
    width: 80%;
    padding: 10px;
}

.joke {
    text-align: center;
}